@model MvcWebsite.Models.Classes

@{
    ViewData["Title"] = "Login";
}

    <h1 class="display-4">Login</h1>


    

    <div>
        <p>Enter your User Name:</p>
        <input id="userName" type="text" />

        <p>Enter your Password:</p>
        <input id="userPass" type="password" />    

        <input id="loginButton" type="submit" value="submit" onclick="loginButton_Click"/>
</div>
    